<html>
    <head>
        <title>ALL GONE!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>All Contacts have been deleted!</h1>
            <a href="/"><button>Address Book</button></a>

        </div>
    </body>
</html>
